<div class="container mt-4">
  <div class="row">
    <!-- ブログカード1 -->
    <div class="col-md-4">
      <div class="blog-card">
        <a href="{{url_for('index.comic_1')}}">
          <img src="static/images/comic_1.jpg" alt="">
        </a>
        <h3 class="mt-2">再録本2020~2021</h3>
        <p>2021/6/1発行 wtr×kbn pkmn fanbook</p>
      </div>
    </div>
    <!-- ブログカード2 -->
    <div class="col-md-4">
      <div class="blog-card">
        <a href="{{url_for('index.comic_2')}}">
          <img src="static/images/comic_2.jpg" alt="">
        </a>
        <h3 class="mt-2">竜の誓い</h3>
        <p>2021/9/12発行 wtr pkmn fanbook</p>
      </div>
    </div>
    <!-- ブログカード3 -->
    <div class="col-md-4">
      <div class="blog-card">
        <img src="static/images/comic_3.jpg" alt="">
        <h3 class="mt-2">チャンピオン TeaTime</h3>
        <p>2022/4/20発行 pkmn fanbook</p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <!-- ブログカード4 -->
    <div class="col-md-4">
      <div class="blog-card">
        <img src="static/images/comic_4.jpg" alt="">
        <h3 class="mt-2">小さな竜の決意</h3>
        <p>2022/6/19発行 wtr×kbn pkmn fanbook</p>
      </div>
    </div>
    <!-- ブログカード5 -->
    <div class="col-md-4">
      <div class="blog-card">
        <img src="static/images/comic_5.jpg" alt="">
        <h3 class="mt-2">RECORD</h3>
        <p>2022/8/21発行 イラスト本 pkmn fanbook</p>
      </div>
    </div>
    <!-- ブログカード6 -->
    <div class="col-md-4">
      <div class="blog-card">
        <img src="static/images/comic_6.jpg" alt="">
        <h3 class="mt-2">教えて!アナタの秘密の番号</h3>
        <p>2022/10/30発行 wtr×kbn pkmn fanbook</p>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <!-- ブログカード7 -->
      <div class="col-md-4">
        <div class="blog-card">
          <img src="static/images/comic_7.jpg" alt="">
          <h3 class="mt-2">夢色</h3>
          <p>2023/6/25発行 wtr srni pkmn fanbook</p>
        </div>
      </div>
    </div>
  </div>
</div>
