<!--Footer-->
<footer id="profile" class="bg-black text-light py-4">
    <div class="container text-center">
        <p>&copy; 2024 抹茶ん家. All rights reserved.</p> <!--&copy; は著作権マークのサイン-->
        <a href="https://x.com/matukazemattya" class="text-light mx-4 col-2">
            <img class="col-1" src="data/images/logo-white.png" alt="">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.pixiv.net/users/5118267" class="text-light mx-4 col-2">
            <img class="col-1" src="data/images/pixiv_white.png" alt="">
            <i class="fas fa-palette"></i>
        </a>
    </div>
</footer>