{% extends "base.html" %}
{% block content %}
    {% include "navbar.html" %}

    <!--Topのイラスト-->
    <div class="image-container">
        <img class="full-width-image" src="data/images/index_1.jpg" alt="">
        <div class="image-text">ゆっくりしていってね！！！</div> <!--画像に文字入力した方が楽-->
    </div>

    <!--Works-->
    <div id="comics" class="container mt-6">
        <div class="sub-title">作品集</div>
        <div class="col-6"></div>
    </div>
    {% include "blog-card.html" %}

    {% include "footer.html" %}
{% endblock %}
