{% extends "base.html" %}
{% block content %}
    {% include "navbar.html" %}

    <!--Topのイラスト-->
    <div class="container mt-6">
        <div class="image-container">
            <img class="col-12" src="{{ url_for('static', filename='/images/index_1.png')}}" alt="">
            <div class="col-6 image-text">抹茶ん家の作品集</div>
        </div>
    </div>

    <!--Works-->
    <div class="container mt-6">
        <div class="col-6">Works</div>
        <div class="col-6">抹茶の主要作品</div>
    </div>

    {% include "footer.html" %}
{% endblock %}
